<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/marketly/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="monotorrent-test" />
            <add key="ClearTextPassword" value="85c5c45a17711d536cc1305609d045f32d4c6272" />
        </github>
    </packageSourceCredentials>
</configuration>
