<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/marketly/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="gopala000" />
            <add key="ClearTextPassword" value="5611e70d723b8db865845a0dd78aba2c52ea5035" />
        </github>
    </packageSourceCredentials>
</configuration>
