<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myfeed" value="https://pkgs.dev.azure.com/gopala00/Marketly/_packaging/myfeed/nuget/v3/index.json" />
  </packageSources>
    <myfeed>
      <add key="Username" value="gopal_a00@hotmail.com" />
      <add key="ClearTextPassword" value="ezr4dqglcyux6bg7uql4jvvtxshifuapae6kwqzkrqdaraxvevlq" />
    </myfeed>
</configuration>
